/* master.css */

html { font-size:100.01%; }

body {
  font-size: 62.5%;
  line-height: 2.2em;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "arial", "helvetica", "arial", "sans-serif";
}

h1, h2, h3 { 
  font-family: "ff-enzo-web-1", "ff-enzo-web-2", "helvetica", "arial", "sans-serif"; 
  font-weight: bold;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }

p, ul, ol { font-size: 1.8em; margin: 1.2em 0; }

strong { font-weight: bold; }

em { font-style: italic; }

form, fieldset { display: block; }

label { font-weight: bold; display: block; }

a { color: #00F; text-decoration: none; }

a:focus, a:hover { text-decoration: underline; }