body {
  background: #FEFEFE;
}

#sitoi {
  margin: 0 auto;
  margin-top: 4.4em;
  padding: 0 2em;
  width: 94em;
}

.content {
  float: right;
  display: block;
  overflow: hidden;
  width: 46em;
  margin-bottom: 2em;
}

.aside {
  padding-left: 14em;
}

.aside p {
  font-size: 1.4em;
  margin: 1.6em 0;
  margin-top: 0.8em;
}

.newsletter {
  float: left; 
  display: block;
  overflow: hidden;
  -webkit-border-radius: 6px;
  border: 1px solid #EEE;
  width: 42em;
  padding: 2em;
  margin-top: 36em;
}

.newsletter p {
  font-size: 1.6em;
  margin: 0;
}

.newsletter form p {
  margin: 0;
}

.footer { 
  clear: both; 
  margin-top: 2em; 
}

.footer p { 
  font-size: 1.4em; 
  margin-top: 1.6em;
}