@import "grid.css";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, ol, ul, li, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

*:focus {
  outline: none;
}

html {
  font-size: 100.01%;
}

body {
  font-size: 62.5%;
  line-height: 2.38em;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-family: "helvetica", "arial", "sans-serif";
  background: #F4F4F4;
  color: #35342D;
}

h1, h2, p, ul, ol {
  font-size: 1.4em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

form, fieldset {
  display: block;
}

fieldset {
  margin-top: 2em;
}

label {
  font-weight: bold;
  display: block;
  margin-right: 0.8em;
}

a {
  color: #d6532f;
  font-weight: bold;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

sup { vertical-align: baseline; }

#sitoi {
  width: 60em;
  padding: 0em 5em;
  margin: 0 auto;
  margin-top: 2.4em;
  overflow: hidden;
}

hgroup {
  margin-bottom: 2.2em;
}

nav {
  float: right;
}

nav ul {
  margin-top: 0.4em;
  list-style-type: none;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 0.4em 1em;
}

.content {
  padding: 0 6em;
  padding-top: 35.6em;
  background: #FFF url(/images/beta/header.png) center 0 no-repeat;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: #EFEFEF 2px 2px 0px;
}

.content h1 {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

.tutorial {
  background: url(/images/beta/icons.png) 2em 0.5em no-repeat;
  overflow: hidden;
  margin-top: 3.2em;
}

.step {
  margin-bottom: 3.4em;
  padding-left: 14em;
  overflow: hidden;
}

.step h2 {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0.8em;
}

.step h2 span {
  color: #FFF;
  font-size: 0.8em;
  background: #CC512B;
  padding: 0.3em 0.6em;
  margin-right: 0.48em;
  vertical-align: baseline;
  -webkit-border-radius: 10px;
}

.newsletter {
  padding-top: 3.4em;
  padding-bottom: 5.2em;
  border-top: 1px dashed #ddd;
  background: #FFF;
}

.newsletter h1 {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0.6em;
}

.newsletter label {
  display: inline;
}

.newsletter .text {
  font-size: 1em;
  padding: 0.3em;
  width: 200px;
  margin-right: 0.8em;
}

.newsletter .submit {
  font-size: 1em;
  padding: 0.32em 0.6em 0.4em 0.6em;
  background: #d6532f;
  -webkit-border-radius: 4px;
  border: none;
  color: #fff;
}

footer p {
  color: #999;
  text-align: center;
  font-size: 1.1em;
  margin: 2em 0;
}