@import "reset.css";
@import "grid.css";

html { font-size:100.01%; }

body {
  font-size: 62.5%;
  line-height: 2.4em;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-family: "helvetica", "arial", "sans-serif";
  background: #FEFFFE;
  color: #35342D;
}

h1, h2 { 
  font-family: "ff-enzo-web-1", "ff-enzo-web-2", "helvetica", "arial", "sans-serif"; 
  font-weight: bold; 
}

h1 { font-size: 2.2em; margin-bottom: 0.6em; }

h2 { font-size: 1.8em; }

p, ul, ol { font-size: 1.4em; }

strong { font-weight: bold; }

em { font-style: italic; }

form, fieldset { display: block; }

label { font-weight: bold; display: block; }

a { color: #666; font-weight: bold; text-decoration: none; }

a:focus, a:hover { text-decoration: underline; }

#sitoi {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 7.2em 4em 0 4em;  
  width: 94em;
  /*background: url(/images/beta/logo.png) 2em 0 no-repeat;*/
}

.content {
  display: block;
  overflow: hidden;
}

.section {
  float: left;
  width: 44em;
}

.section p {
  font-size: 1.8em;
}

.aside {
  float: right;
  display: block;
  overflow: hidden;
  width: 46em;
  background: url(/images/beta/sneak.png) no-repeat;
}

.step {
  display: block;
  overflow: hidden;
  padding-left: 14em;
}

.step p { 
  line-height:1.42em;
  font-size: 1.6em;
  margin: 0.8em 0 2.34em 0;
}

.step span {
  font-size: 0.8em;
  color: #FFF;
  background: #AEC163;
  padding: 0.3em 0.5em;
  margin-right: 0.6em;
  -webkit-border-radius: 20px;
}

.newsletter {
  color: #FFF;
  display: block;
  overflow: hidden;
  margin-top: 2.4em;
  padding: 2.6em 14.4em 2.2em 2.6em;
  background: #D13834;
  -webkit-border-radius: 8px;
  border: 3px solid #A8211E;
}

.newsletter p {
  text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
  font-weight: bold;
}

.newsletter form {
  margin: 1.72em 0 0 0;
}

.newsletter .text {
  background-color: rgba(0,0,0,0.25);
  border: 2px solid rgba(0,0,0,0.05);
  padding: 0.48em;
  font-size: 0.9em;
  width: 12em;
  margin-right: 0.4em;
  color: #FFF;
  -webkit-border-radius: 4px;
}

.newsletter input::-webkit-input-placeholder { color: rgba(255,255,255,1); }

.newsletter .submit {
  color: #FFF;
  border: 1px solid #303030;
  background: rgba(255,255,255,0.05);
  font-size: 0.9em;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
}

.footer {
  clear: both;
  display: block;
  overflow: hidden;
  text-align: center;
  margin-top: 2.2em;
}

.footer p {
  color: #CCC;
  font-size: 1.2em;
  margin: 2.1em 0 0.1em 0;
}

.footer a {
  color: #CCC;
}
