@import "grid.css";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, ol, ul, li, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

*:focus {
  outline: none;
}

html {
  font-size: 100.01%;
}

body {
  font-size: 62.5%;
  line-height: 2.38em;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-family: "helvetica", "arial", "sans-serif";
  background: #FFF;
  color: #35342D;
}

h1, h2, p, ul, ol {
  font-size: 1.4em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

form, fieldset {
  display: block;
}

label {
  font-weight: bold;
  display: block;
}

a {
  color: #d6532f;
  font-weight: bold;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

sup { vertical-align: baseline; }

#sitoi { width: 100%; }

hgroup {
  background: #4e575c url(/images/beta/header.png) center 12em no-repeat;
  color: #fff;
  width: 100%;
  height: 41.3em;
  margin-bottom: 3.6em;
  text-align: center;
  overflow: hidden;
}

hgroup h1 {
  margin-top: 3.4em;
  font-weight: bold;
}

hgroup h2 {
  font-size: 1.2em;
}

hgroup img {
  margin-top: 3em;
}

.about, footer {
  margin: 0 auto;
  width: 46em;
}

.newsletter {
  margin: 0 auto;
  width: 42em;
}

.about h1 {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

.steps {
  background: url(/images/beta/icons.png) 2em 0.5em no-repeat;
  margin: 4.2em 0 2.2em 0;
  overflow: hidden;
}

.step {
  margin-bottom: 3.4em;
  padding-left: 14em;
  overflow: hidden;
}

.step h2 {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0.8em;
}

.step h2 span {
  color: #fff;
  font-size: 0.8em;
  background: #a5d15c;
  padding: 0.3em 0.6em;
  margin-right: 0.48em;
  vertical-align: baseline;
  -webkit-border-radius: 10px;
}

.newsletter {
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  padding: 2.4em;
}

.newsletter h1 {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0.6em;
}

.newsletter fieldset {
  margin: 2em 0 0.6em 0;
}

.newsletter label {
  display: inline;
  margin-right: 0.6em;
  margin-left: 1.4em;
}

.newsletter .text {
  font-size: 1em;
  padding: 0.3em;
  width: 200px;
  margin-right: 0.6em;
}

.newsletter .submit {
  font-size: 1em;
  padding: 0.38em 0.6em;
  background: #d6532f;
  -webkit-border-radius: 4px;
  border: none;
  color: #fff;
}

footer p {
  text-align: center;
  color: #999;
  font-size: 1.2em;
  margin: 3.8em 0 1.8em 0;
}