<section id="join">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
    pariatur.
  </p>
</section>


<section id="about">
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
    pariatur.
  </p>

  <aside>
    <header>
      <h2>Sitoi es muy muy fácil</h2>
    </header>
    
    <section>
      <h3>Sube el plano del lugar</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
    </section>
    
    <section>
      <h3>Etiqueta los espacios</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip.
      </p>
    </section>
    
    <section>
      <h3>… y a vender o alquilar</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi.
      </p>
    </section>
  </aside>
</section>


<footer>
  <p>© 2010 Sitoi</p>
</footer>