<div class="content">
  <h1>¿Qué es Sitoi?</h1>
  <p>
    Sitoi es una sencilla herramienta para gestionar <em>online</em> 
    la venta o alquiler de espacios en recintos. Si tienes que planificar 
    espacios en una feria, un camping, un garage o incluso una boda, Sitoi 
    es lo que estabas buscando.
  </p>

  <div class="aside">
    <h3>Sube el plano de tu lugar</h3>
    <p>
      Lo que te interesa es dar salida a los espacios lo antes posible.
      No pierdas el tiempo dibujando tu espacio en el ordenador, escanea 
      el plano y cárgalo en Sitoi.
    </p>

    <h3>Marca los espacios disponibles</h3>
    <p>
      Para cada espacio que quieras vender o alquilar pincha sobre el plano.
      Sitoi te permite especificar los metros cuadrados y el precio del espacio.
    </p>

    <h3>… y a vender o alquilar</h3>
    <p>
      Ya no hay nada mas que hacer, dale a publicar y tus clientes pueden pagarte 
      directamente con Paypal. Siéntate a esperar mientras Sitoi trabaja.
    </p>
  </div>
</div>

<div class="newsletter">
  <p>
    Sitoi todavía no está listo pero estamos trabajando duro.
    Déjanos tu correo y te podemos avisar para que seas uno de los primeros en probarlo.
  </p>
  <form action="submit" method="get" accept-charset="utf-8">
    <fieldset>
    <p>
      <input name="email" placeholder="Tu correo electrónico" class="text" value="">
      <input type="submit" class="submit" value="Avisadme">
    </p>
    </fieldset>
  </form>
</div>

<div class="footer">
  <p>© 2010 Sitoi</p>
</div>