<hgroup>
  <img src="/images/beta/logo.png">
  <nav>
    <ul>
      <li><a href="">Apúntate a beta</a></li>
      <li><a href="">Contacto</a></li>
    </ul>
  </nav>
</hgroup>

<section class="content">
  <header><h1>¿Qué es Sitoi?</h1></header>

  <p>
    Sitoi es una sencilla herramienta para gestionar <em>online</em>
    la venta y alquiler de espacios. Si tienes que organizar una feria,
    un camping, un garaje o incluso una boda, Sitoi es lo que estabas
    buscando.
  </p>

  <section class="tutorial">
    <section class="step">
      <header><h2><span>1</span> Sube tu plano</h2></header>
      <p>
        No pierdas tiempo dibujando en el ordenador, escanea
        el plano de tu espacio y súbelo.
      </p>
    </section>

    <section class="step">
      <header><h2><span>2</span> Marca los espacios</h2></header>
      <p>
        A continuación pincha en cada espacio que quieras vender o alquilar,
        pon el precio y los m<sup>2</sup>.
      </p>
    </section>

    <section class="step">
      <header><h2><span>3</span> ¡A vender o alquilar!</h2></header>
      <p>
        Y ya está, dale a publicar y tus clientes pueden pagarte
        directamente con tarjeta o Paypal.
      </p>
    </section>
  </section>

  <section class="newsletter">
    <header><h1>Apúntate a la beta</h1></header>
    <p>
      Sitoi todavía no está listo pero te podemos avisar para
      que seas el primero en probarlo. Nunca te enviaremos spam,
      prometido.
    </p>

    <form action="submit" method="get" accept-charset="utf-8">
      <fieldset>
      <p>
        <label>Tu correo</label>
        <input name="email" placeholder="nombre@dominio.com" class="text" value="">
        <input type="submit" class="submit" value="¡Apuntadme!">
      </p>
      </fieldset>
    </form>
  </section>
</section>

<footer>
  <p>© 2010 Sitoi • ¿Tienes dudas? <a href="">Contacta con nosotros</a></p>
</footer>