<div class="content">
  <div class="section">
    <h1>¿Qué es Sitoi?</h1>
    <p>
      Sitoi es una sencilla herramienta para gestionar <em>online</em> 
      la venta o alquiler de espacios en recintos. Sitoi es perfecto
      si organizas una feria, un camping o incluso una boda.
    </p>
  </div>
  
  <div class="aside">

    <div class="step">
      <h3><span>1</span> Sube tu plano</h3>
      <p>
        No pierdas el tiempo dibujando tu espacio en el ordenador, escanea 
        el plano y cárgalo en Sitoi.
      </p>
    </div>

    <div class="step">
      <h3><span>2</span> Marca los espacios</h3>
      <p>
        Pincha en cada espacio que quieras vender o alquilar,
        pon el precio y los metros cuadrados.
      </p>
    </div>

    <div class="step">
      <h3><span>3</span> ¡A vender o alquilar!</h3>
      <p>
        Ya está, dale a publicar y tus clientes pueden pagarte 
        directamente con Paypal.
      </p>
    </div>

    <div class="newsletter">
      <p>
        Sitoi todavía no está listo pero te podemos avisar
        para que lo pruebes antes que nadie.
      </p>
      <form action="submit" method="get" accept-charset="utf-8">
        <fieldset>
        <p>
          <input name="email" placeholder="Tu correo electrónico" class="text" value="">
          <input type="submit" class="submit" value="Avisadme">
        </p>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="footer">
  <p>© 2010 <a href="">Sitoi</a> • <a href="">Contacta con nosotros</a></p>
</div>
