<div class="content">
  <h1>¿Qué es Sitoi?</h1>
  <p>
    Sitoi es una sencilla herramienta para gestionar <em>online</em> 
    la reserva, venta y alquiler de espacios en recintos. Si tienes que planificar 
    espacios en una feria, un camping, un garage o incluso una boda, Sitoi 
    es lo que estabas buscando.
  </p>

  <div class="aside">
    <h3>Sube el plano del lugar</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    </p>

    <h3>Pincha en los espacios</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip.
    </p>

    <h3>… y a vender o alquilar</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi.
    </p>
  </div>
</div>

<div class="newsletter">
  <p>
    Sitoi todavía no está listo pero estamos trabajando duro.
    Déjanos tu correo y te podemos avisar para que seas uno de los primeros en probarlo.
  </p>
  <form action="submit" method="get" accept-charset="utf-8">
    <fieldset>
    <p>
      <input name="email" placeholder="Tu correo electrónico" class="text" value="">
      <input type="submit" class="submit" value="Avisadme">
    </p>
    </fieldset>
  </form>
</div>

<div class="footer">
  <p>© 2010 Sitoi</p>
</div>