<div class="content">
  <h1>¿Qué es Sitoi?</h1>
  <p>
    Sitoi es una sencilla herramienta para gestionar <em>online</em> 
    la venta o alquiler de espacios en recintos. Si tienes que planificar 
    espacios en una feria, un camping, un garage o incluso una boda, Sitoi 
    es lo que estabas buscando.
  </p>

  <div class="aside">
    <h2><span>1</span> Sube el plano de tu lugar</h2>
    <p>
      Seguro que quieres dar salida a los espacios lo antes posible.
      No pierdas el tiempo dibujando tu espacio en el ordenador, escanea 
      el plano y cárgalo en Sitoi.
    </p>

    <h2><span>2</span> Marca los espacios</h2>
    <p>
      Para cada espacio que quieras vender o alquilar pincha sobre el plano.
      Sitoi te permite especificar los metros cuadrados, el precio del espacio y otros detalles.
    </p>

    <h2><span>3</span> ¡A vender o alquilar!</h2>
    <p>
      Ya no hay nada mas que hacer, dale a publicar y tus clientes pueden pagarte 
      directamente con Paypal. Siéntate a esperar viendo como tus espacios se reservan.
    </p>
  </div>
</div>

<div class="newsletter">
  <p>
    Sitoi todavía no está listo pero te podemos avisar
    para que lo pruebes antes que nadie.
  </p>
  <form action="submit" method="get" accept-charset="utf-8">
    <fieldset>
    <p>
      <input name="email" placeholder="Tu correo electrónico" class="text" value="">
      <input type="submit" class="submit" value="Avisadme">
    </p>
    </fieldset>
  </form>
</div>

<div class="footer">
  <p>© 2010 <a href="">Sitoi</a> - <a href="">Contacto</a></p>
</div>