<div class="content">
  <div class="section">
    <h1>¿Qué es Sitoi?</h1>
    <p>
      Sitoi es una sencilla herramienta para gestionar <em>online</em> 
      la venta o alquiler de espacios en recintos.
    </p>
  </div>
  
  <div class="aside">

    <div class="step">
      <h2><span>1</span> Sube tu plano</h2>
      <p>
        No pierdas tiempo dibujando en el ordenador, escanea 
        el plano y súbelo.
      </p>
    </div>

    <div class="step">
      <h2><span>2</span> Marca los espacios</h2>
      <p>
        Pincha en cada espacio que quieras vender o alquilar,
        pon el precio y los m<sup>2</sup>.
      </p>
    </div>

    <div class="step">
      <h2><span>3</span> ¡A vender o alquilar!</h2>
      <p>
        Dale a publicar y tus clientes pueden pagarte 
        directamente con Paypal.
      </p>
    </div>

    <div class="newsletter">
      <p>
        Sitoi todavía no está listo pero te podemos apuntar
        para probar la beta.
      </p>
      <form action="submit" method="get" accept-charset="utf-8">
        <fieldset>
        <p>
          <input name="email" placeholder="Tu correo electrónico" class="text" value="">
          <input type="submit" class="submit" value="Avisadme">
        </p>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="footer">
  <p>© 2010 Sitoi • <a href="">Contacta con nosotros</a></p>
</div>
